In [1]:
import numpy as np
import pandas as pd
pd.set_option('display.max_columns', 50)

In [2]:
race_df = pd.read_csv("csv/race.csv", sep=",")
result_df = race_df["race_id"]

In [3]:
race_df.head(3)

,race_id,race_round,race_title,race_course,weather,ground_status,time,date,where_racecourse,total_horse_number,frame_number_first,horse_number_first,frame_number_second,horse_number_second,frame_number_third,horse_number_third,tansyo,hukusyo_first,hukusyo_second,hukusyo_third,wakuren,umaren,wide_1_2,wide_1_3,wide_2_3,umatan,renhuku3,rentan3
0,201906030401,1 R,3歳未勝利,ダ右1800m,天候 : 曇,ダート : 稍重,09:50,2019年3月31日,3回中山4日目,16,8,15,2,4,2,3,"1,680",490,160,420,"2,490","2,840",920,"3,780",920,"8,130","14,860","120,060"
1,201906030402,2 R,3歳未勝利,ダ右1200m,天候 : 曇,ダート : 稍重,10:20,2019年3月31日,3回中山4日目,16,8,15,5,10,6,12,470,160,110,230,420,460,250,960,440,"1,090","1,910","9,070"
2,201906030403,3 R,3歳未勝利,芝右 外1600m,天候 : 曇,芝 : 稍重,10:50,2019年3月31日,3回中山4日目,16,7,13,5,10,1,1,250,110,120,140,450,370,190,260,280,620,520,"1,700"

In [4]:
horse_number_first = race_df["horse_number_first"]
horse_number_second = race_df["horse_number_second"]
horse_number_third = race_df["horse_number_third"]

In [5]:
df_one_hot_encoded1 = pd.get_dummies(horse_number_first)
df_one_hot_encoded2 = pd.get_dummies(horse_number_second)
df_one_hot_encoded3 = pd.get_dummies(horse_number_third)

In [6]:
df_one_hot_encoded = df_one_hot_encoded1 + df_one_hot_encoded2 + df_one_hot_encoded3
df_one_hot_encoded

     1   2   3   4   5   6   7   8   9   10  11  12  13  14  15  16  17  18
0     0   0   1   1   0   0   0   0   0   0   0   0   0   0   1   0   0   0
1     0   0   0   0   0   0   0   0   0   1   0   1   0   0   1   0   0   0
2     1   0   0   0   0   0   0   0   0   1   0   0   1   0   0   0   0   0
3     1   1   0   0   0   0   0   0   0   0   0   1   0   0   0   0   0   0
4     1   0   0   0   1   0   0   0   0   0   0   0   1   0   0   0   0   0
..   ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..
619   0   1   0   0   0   0   0   1   0   0   0   1   0   0   0   0   0   0
620   0   0   1   1   0   0   0   0   0   1   0   0   0   0   0   0   0   0
621   1   0   0   1   0   1   0   0   0   0   0   0   0   0   0   0   0   0
622   0   0   1   0   0   0   0   1   0   0   1   0   0   0   0   0   0   0
623   0   0   0   1   0   0   0   1   0   1   0   0   0   0   0   0   0   0

[624 rows x 18 columns]

In [7]:
result_df = pd.concat([result_df, df_one_hot_encoded],axis=1)

In [8]:
result_df

,race_id,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
0,201906030401,0,0,1,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0
1,201906030402,0,0,0,0,0,0,0,0,0,1,0,1,0,0,1,0,0,0
2,201906030403,1,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0
3,201906030404,1,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0
4,201906030405,1,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
619,201908020308,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0
620,201908020309,0,0,1,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0
621,201908020310,1,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0
622,201908020311,0,0,1,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0
623,201908020312,0,0,0,1,0,0,0,1,0,1,0,0,0,0,0,0,0,0

In [11]:
result_df.to_csv("csv/result_data.csv", index=False )