In [1]:
import numpy as np
import pandas as pd
pd.set_option('display.max_columns', 50)

# raceデータセット作成

In [2]:
race_df = pd.read_csv("csv/race.csv", sep=",")

In [4]:
print(race_df.shape)
race_df.tail(2)

(264, 28)

,race_id,race_round,race_title,race_course,weather,ground_status,time,date,where_racecourse,total_horse_number,frame_number_first,horse_number_first,frame_number_second,horse_number_second,frame_number_third,horse_number_third,tansyo,hukusyo_first,hukusyo_second,hukusyo_third,wakuren,umaren,wide_1_2,wide_1_3,wide_2_3,umatan,renhuku3,rentan3
262,201908010111,11 R,第57回スポニチ賞京都金杯(G3),芝右 外1600m,天候 : 晴,芝 : 良,15:45,2019年1月5日,1回京都1日目,17,6,12,8,15,4,7,220,140,410,"1,130","1,180","2,060",890,"2,910","9,420","2,530","34,980","98,580"
263,201908010112,12 R,4歳以上1000万下,芝右1200m,天候 : 晴,芝 : 良,16:20,2019年1月5日,1回京都1日目,16,1,2,2,4,1,1,230,140,540,690,"2,260","3,190","1,040","1,420","7,540","4,270","20,820","80,700"

## race_id変更なし

In [5]:
race_df['race_id'].head(3)

0    201905010201
1    201905010202
2    201905010203
Name: race_id, dtype: int64

## race_round Rを削除

In [6]:
race_df['race_round'].unique()

array(['1 R', '2 R', '3 R', '4 R', '5 R', '6 R', '7 R', '8 R', '9 R',
       '10 R', '11 R', '12 R'], dtype=object)

In [7]:
race_df['race_round'] = race_df['race_round'].str.strip('R \n')

In [8]:
race_df['race_round'].unique()

array(['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12'],
      dtype=object)

## dtypeがobjectなのでintに変換

In [10]:
race_df['race_round'] = race_df['race_round'].astype(int)
race_df['race_round'].head(3)

0    1
1    2
2    3
Name: race_round, dtype: int32

## race_title いらないので削除

In [ ]:
race_df['race_title'].head(3)

In [13]:
race_df.drop(['race_title'], axis=1, inplace=True)
rece_df.head(3)

KeyError: "['race_title'] not found in axis"

race_coursekから

In [14]:
race_df['race_course'].unique()

array(['ダ左1400m', 'ダ左2100m', 'ダ左1600m', '芝左1600m', '芝左1800m', '芝左2400m',
       'ダ左1800m', 'ダ左1200m', '障芝3000m', '芝左1400m', '芝左2000m', 'ダ左1900m',
       '芝左1200m', 'ダ右1200m', 'ダ右1800m', 'ダ右1400m', '芝右 外2200m',
       '芝右 外1800m', '芝右1200m', 'ダ左1300m', '障芝 ダート3170m', '芝右 外2400m',
       '芝右 外1600m', '芝右2000m', '芝右1800m', '芝左2200m', '芝右1600m',
       '芝右 外1400m', '障芝3330m', '芝右 外1200m', '障芝 ダート2910m', 'ダ右1900m',
       '障芝 ダート2880m', 'ダ右2400m', '障芝 ダート3200m', '芝右 外3000m'], dtype=object)

## 障害かどうかデータのobstacle 0=普通　1=障害

In [15]:
obstacle = race_df["race_course"].str.extract('(障)', expand=True)
obstacle.columns ={"obstacle"}
race_df = pd.concat([race_df, obstacle], axis=1)
race_df['obstacle'].unique()

array([nan, '障'], dtype=object)

## 'obstacle' 列の '障芝' を1に置き換え、Nanに0埋め

In [16]:
race_df['obstacle'] = race_df['obstacle'].replace('障', 1)
race_df.fillna(value={'obstacle': 0}, inplace=True)
race_df['obstacle'].unique()

array([0., 1.])

## 芝かダートかのデータground_type

In [17]:
ground_type = race_df["race_course"].str.extract('(ダ|芝)', expand=True)
ground_type.columns ={"ground_type"}
race_df = pd.concat([race_df, ground_type], axis=1)
race_df['ground_type'].unique()

array(['ダ', '芝'], dtype=object)

## 左周りか右回りか直線かのデータleft_right_straight

In [18]:
left_right_straight = race_df["race_course"].str.extract('(左|右|直線)', expand=True)
left_right_straight.columns = {"left_right_straight"}
race_df = pd.concat([race_df, left_right_straight], axis=1)
race_df['left_right_straight'].unique()

array(['左', nan, '右'], dtype=object)

## コースの距離distance

In [19]:
distance = race_df["race_course"].str.extract('(\d+)m', expand=True)
distance.columns = {"distance"}
race_df = pd.concat([race_df, distance], axis=1)
race_df['distance'].unique()

array(['1400', '2100', '1600', '1800', '2400', '1200', '3000', '2000',
       '1900', '2200', '1300', '3170', '3330', '2910', '2880', '3200'],
      dtype=object)

## intに変換

In [20]:
race_df["distance"] = race_df["distance"].astype(int)
race_df['distance'].head(3)

0    1400
1    2100
2    1600
Name: distance, dtype: int32

## race_courseは不要になったので削除

In [21]:
race_df.drop(['race_course'], axis=1, inplace=True)

## weather　いらない文字列削除

In [22]:
race_df["weather"].unique()

array(['天候 : 晴', '天候 : 曇', '天候 : 小雪', '天候 : 雪', '天候 : 小雨', '天候 : 雨'],
      dtype=object)

In [23]:
race_df['weather'] = race_df['weather'].str.strip('天候 :')
race_df["weather"].head(3)

0    晴
1    晴
2    晴
Name: weather, dtype: object

## ground_status いらない文字列削除

In [24]:
race_df["ground_status"].unique()

array(['ダート : 良', '芝 : 良', '芝 : 良\xa0\xa0ダート : 良', 'ダート : 稍重', '芝 : 稍重'],
      dtype=object)

In [25]:
race_df['ground_status'] = race_df['ground_status'].str.extract('(稍重|重|不良|良)',expand=True)
race_df["ground_status"].unique()

array(['良', '稍重'], dtype=object)

## where_racecourse　場所以外の情報を削除

In [26]:
race_df["date"].head(3)

0    2019年1月27日
1    2019年1月27日
2    2019年1月27日
Name: date, dtype: object

In [27]:
race_df["time"] = race_df["time"].str.replace('(\d\d):(\d\d)', r'\1時\2分')

In [28]:
race_df["date"] = race_df["date"] + race_df["time"]
race_df["date"] = pd.to_datetime(race_df['date'], format='%Y年%m月%d日%H時%M分')

In [29]:
race_df["date"].head(3)

0   2019-01-27 10:10:00
1   2019-01-27 10:40:00
2   2019-01-27 11:10:00
Name: date, dtype: datetime64[ns]

In [30]:
race_df.drop(['time'], axis=1, inplace=True)

In [31]:
race_df["where_racecourse"].unique()

array(['1回東京2日目', '1回中京4日目', '2回京都2日目', '1回東京1日目', '1回中京3日目', '2回京都1日目',
       '1回中山7日目', '1回中京2日目', '1回京都7日目', '1回中山6日目', '1回中京1日目', '1回京都6日目',
       '1回中山5日目', '1回京都5日目', '1回中山4日目', '1回京都4日目', '1回中山3日目', '1回京都3日目',
       '1回中山2日目', '1回京都2日目', '1回中山1日目', '1回京都1日目'], dtype=object)

In [32]:
race_df["where_racecourse"] = race_df["where_racecourse"].str.replace('\d*回(..)\d*日目', r'\1')
race_df["where_racecourse"].unique()

array(['東京', '中京', '京都', '中山'], dtype=object)

In [33]:
race_df = pd.get_dummies(race_df, columns=["ground_status","weather",'where_racecourse','ground_type','left_right_straight'])

In [34]:
race_df.to_csv("csv/cleaned_race_data.csv", index=False )

,race_id,race_round,total_horse_number,frame_number_first,horse_number_first,frame_number_second,horse_number_second,frame_number_third,horse_number_third,tansyo,hukusyo_first,hukusyo_second,hukusyo_third,wakuren,umaren,wide_1_2,wide_1_3,wide_2_3,umatan,renhuku3,rentan3,obstacle,distance,ground_status_不良,ground_status_稍重,ground_status_良,ground_status_重,weather_小雨,weather_晴,weather_曇,weather_雨,where_racecourse_中京,where_racecourse_中山,where_racecourse_京都,where_racecourse_小倉,where_racecourse_東京,where_racecourse_阪神,ground_type_ダ,ground_type_芝,left_right_straight_右,left_right_straight_左
0,201906030401,1,16,8,15,2,4,2,3,"1,680",490,160,420,"2,490","2,840",920,"3,780",920,"8,130","14,860","120,060",0.0,1800,0,1,0,0,0,0,1,0,0,1,0,0,0,0,1,0,1,0
1,201906030402,2,16,8,15,5,10,6,12,470,160,110,230,420,460,250,960,440,"1,090","1,910","9,070",0.0,1200,0,1,0,0,0,0,1,0,0,1,0,0,0,0,1,0,1,0
2,201906030403,3,16,7,13,5,10,1,1,250,110,120,140,450,370,190,260,280,620,520,"1,700",0.0,1600,0,1,0,0,0,0,1,0,0,1,0,0,0,0,0,1,1,0
3,201906030404,4,14,7,12,1,1,2,2,300,150,190,260,"1,080","1,240",460,670,"1,100","1,910","3,570","14,640",1.0,2880,0,1,0,0,0,0,1,0,0,1,0,0,0,0,0,1,0,0
4,201906030405,5,16,1,1,3,5,7,13,350,130,200,120,720,"1,590",430,200,460,"2,260","1,160","7,750",0.0,1800,0,1,0,0,0,0,1,0,0,1,0,0,0,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
619,201908020308,8,13,2,2,8,12,6,8,330,150,310,320,780,"1,970",670,"1,000","1,690","3,050","6,550","29,330",0.0,1400,0,1,0,0,0,1,0,0,0,0,1,0,0,0,1,0,1,0
620,201908020309,9,10,8,10,3,3,4,4,"1,270",210,110,130,590,"1,440",490,690,180,"4,180","1,300","14,960",0.0,1200,0,0,1,0,0,1,0,0,0,0,1,0,0,0,0,1,1,0
621,201908020310,10,10,1,1,6,6,4,4,330,130,160,120,"1,260","1,320",470,250,340,"2,140","1,200","7,070",0.0,1600,0,0,1,0,0,1,0,0,0,0,1,0,0,0,0,1,1,0
622,201908020311,11,15,2,3,6,11,5,8,410,190,500,400,"1,820","3,790","1,340","1,220","2,700","5,790","13,150","62,900",0.0,1900,0,1,0,0,0,1,0,0,0,0,1,0,0,0,1,0,1,0
623,201908020312,12,12,4,4,7,10,6,8,810,260,170,590,"1,200","1,630",620,"2,950","1,790","3,260","14,170","67,450",0.0,1800,0,1,0,0,0,1,0,0,0,0,1,0,0,0,1,0,1,0

## horse data の整形

In [35]:
horse_df = pd.read_csv("./csv/horse.csv", sep=",")
print(horse_df.shape)
print(horse_df.dtypes)
horse_df.head(2)

(3763, 19)
race_id            int64
rank              object
frame_number       int64
horse_number       int64
horse_id           int64
sex_and_age       object
burden_weight    float64
rider_id           int64
goal_time         object
goal_time_dif     object
time_value        object
half_way_rank     object
last_time        float64
odds              object
popular          float64
horse_weight      object
tame_time        float64
tamer_id           int64
owner_id           int64
dtype: object

,race_id,rank,frame_number,horse_number,horse_id,sex_and_age,burden_weight,rider_id,goal_time,goal_time_dif,time_value,half_way_rank,last_time,odds,popular,horse_weight,tame_time,tamer_id,owner_id
0,201905010201,1,8,16,2016105994,牝3,54.0,5339,1:28.0,NaN,**,7-7,39.4,3.3,2.0,504(+12),NaN,1102,994002
1,201905010201,2,6,12,2016105685,牝3,54.0,1109,1:28.1,1/2,**,11-9,39.2,51.2,10.0,494(-4),NaN,1023,547800

In [36]:
print(horse_df.shape)
print(horse_df.dtypes)

(3763, 19)
race_id            int64
rank              object
frame_number       int64
horse_number       int64
horse_id           int64
sex_and_age       object
burden_weight    float64
rider_id           int64
goal_time         object
goal_time_dif     object
time_value        object
half_way_rank     object
last_time        float64
odds              object
popular          float64
horse_weight      object
tame_time        float64
tamer_id           int64
owner_id           int64
dtype: object

## 使わないデータ削除

In [37]:
horse_df.drop(['time_value'], axis=1, inplace=True)
horse_df.drop(['goal_time_dif'], axis=1, inplace=True)
horse_df.drop(['tame_time'], axis=1, inplace=True)

### データ分析のため、レース日時情報をmerge

In [38]:
race_tmp_df = race_df[["race_id", "date"]]
horse_df = pd.merge(horse_df, race_tmp_df, on='race_id')
horse_df.head()

,race_id,rank,frame_number,horse_number,horse_id,sex_and_age,burden_weight,rider_id,goal_time,half_way_rank,last_time,odds,popular,horse_weight,tamer_id,owner_id,date
0,201905010201,1,8,16,2016105994,牝3,54.0,5339,1:28.0,7-7,39.4,3.3,2.0,504(+12),1102,994002,2019-01-27 10:10:00
1,201905010201,2,6,12,2016105685,牝3,54.0,1109,1:28.1,11-9,39.2,51.2,10.0,494(-4),1023,547800,2019-01-27 10:10:00
2,201905010201,3,5,9,2016106310,牝3,54.0,689,1:28.1,15-14,38.6,10.0,5.0,454(0),1048,89803,2019-01-27 10:10:00
3,201905010201,4,7,14,2016100216,牝3,53.0,1169,1:28.4,11-9,39.5,4.8,3.0,450(-6),1094,515800,2019-01-27 10:10:00
4,201905010201,5,1,1,2016100319,牝3,54.0,5575,1:28.4,4-4,40.0,55.7,11.0,434(+6),1108,854800,2019-01-27 10:10:00

### rank　数字と文字列を分ける

In [41]:
horse_df["rank"].unique()

array(['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12',
       '13', '14', '15', '16', '取', '17', '18', '中', '除'], dtype=object)

### 降格を別へ

In [43]:
is_down = horse_df["rank"].str.extract('(\(降\))', expand=True)
is_down.columns ={"is_down"}
horse_df = pd.concat([horse_df, is_down], axis=1)

horse_df.fillna(value={'is_down': 0}, inplace=True)
horse_df['is_down'] = horse_df['is_down'].replace('(降)', 1)

## 余分な文字を削除
horse_df['rank'] = horse_df['rank'].apply(lambda x: x.replace("(降)", ""))
horse_df['rank'] = horse_df['rank'].apply(lambda x: x.replace("(再)", ""))

In [44]:
"""- 取・除はそもそも参加していないので削除
- 失は順位が全く当てにならないので情報を削除
- 中は最後まで到達していないが参加はしている。ひとまず20位にしておく"""

horse_df = horse_df[(horse_df['rank'] != "取") & (horse_df['rank'] != "除") & (horse_df['rank'] != "失")]
horse_df['rank'] = pd.DataFrame(horse_df['rank'].mask(horse_df['rank'] == "中", 20))

In [45]:
horse_df["rank"].value_counts()

4     266
2     266
1     264
5     264
3     262
6     262
7     261
8     259
9     251
10    239
11    231
12    215
13    201
14    181
15    162
16    132
20     19
17      9
18      8
Name: rank, dtype: int64

### 性別と年齢を別に

In [47]:
horse_df['sex_and_age'].unique()

array(['牝3', '牡3', 'セ3', '牝4', '牝6', '牝5', '牡4', '牡5', '牡7', '牡6', 'セ5',
       '牡9', '牝8', 'セ4', '牡8', 'セ6', '牝7', 'セ7', '牡10', 'セ8', 'セ10',
       '牝10', 'セ9'], dtype=object)

In [48]:
# 性別を別へ

is_senba = horse_df["sex_and_age"].str.extract('(セ)', expand=True)
is_senba.columns ={"is_senba"}
horse_df = pd.concat([horse_df, is_senba], axis=1)

is_mesu = horse_df["sex_and_age"].str.extract('(牝)', expand=True)
is_mesu.columns ={"is_mesu"}
horse_df = pd.concat([horse_df, is_mesu], axis=1)

is_osu = horse_df["sex_and_age"].str.extract('(牡)', expand=True)
is_osu.columns ={"is_osu"}
horse_df = pd.concat([horse_df, is_osu], axis=1)

In [49]:
horse_df.fillna(value={'is_osu': 0}, inplace=True)
horse_df['is_osu'] = horse_df['is_osu'].replace('牡', 1)
horse_df.fillna(value={'is_mesu': 0}, inplace=True)
horse_df['is_mesu'] = horse_df['is_mesu'].replace('牝', 1)
horse_df.fillna(value={'is_senba': 0}, inplace=True)
horse_df['is_senba'] = horse_df['is_senba'].replace('セ', 1)
## 余分な文字を削除
horse_df['sex_and_age'] = horse_df['sex_and_age'].str.strip("牝牡セ")
horse_df['sex_and_age'] = horse_df['sex_and_age'].astype(int)

In [50]:
horse_df = horse_df.rename(columns={'sex_and_age': 'age'})

In [51]:
horse_df

,race_id,rank,frame_number,horse_number,horse_id,age,burden_weight,rider_id,goal_time,half_way_rank,last_time,odds,popular,horse_weight,tamer_id,owner_id,date,is_down,is_down,is_down,is_senba,is_mesu,is_osu
0,201905010201,1,8,16,2016105994,3,54.0,5339,1:28.0,7-7,39.4,3.3,2.0,504(+12),1102,994002,2019-01-27 10:10:00,0,NaN,NaN,NaN,1.0,NaN
1,201905010201,2,6,12,2016105685,3,54.0,1109,1:28.1,11-9,39.2,51.2,10.0,494(-4),1023,547800,2019-01-27 10:10:00,0,NaN,NaN,NaN,1.0,NaN
2,201905010201,3,5,9,2016106310,3,54.0,689,1:28.1,15-14,38.6,10.0,5.0,454(0),1048,89803,2019-01-27 10:10:00,0,NaN,NaN,NaN,1.0,NaN
3,201905010201,4,7,14,2016100216,3,53.0,1169,1:28.4,11-9,39.5,4.8,3.0,450(-6),1094,515800,2019-01-27 10:10:00,0,NaN,NaN,NaN,1.0,NaN
4,201905010201,5,1,1,2016100319,3,54.0,5575,1:28.4,4-4,40.0,55.7,11.0,434(+6),1108,854800,2019-01-27 10:10:00,0,NaN,NaN,NaN,1.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3758,201908010112,12,8,15,2013100041,6,57.0,1019,1:10.4,4-6,35.8,23.7,7.0,542(-4),1046,797008,2019-01-05 16:20:00,0,NaN,NaN,NaN,NaN,1.0
3759,201908010112,13,3,6,2013101575,6,54.0,1166,1:10.7,7-9,36.0,28.9,9.0,446(+2),1158,939006,2019-01-05 16:20:00,0,NaN,NaN,NaN,1.0,NaN
3760,201908010112,14,2,3,2013103410,6,55.0,1034,1:10.7,13-11,35.5,122.7,14.0,464(+2),1149,513008,2019-01-05 16:20:00,0,NaN,NaN,NaN,1.0,NaN
3761,201908010112,15,8,16,2015101549,4,54.0,1014,1:11.0,4-4,36.4,25.7,8.0,464(+10),425,959800,2019-01-05 16:20:00,0,NaN,NaN,NaN,1.0,NaN
3762,201908010112,16,5,10,2015102929,4,54.0,1133,1:11.1,2-4,36.6,82.4,12.0,478(-2),1009,851007,2019-01-05 16:20:00,0,NaN,NaN,NaN,1.0,NaN

In [52]:
# nullになるのは、レースで「中」になった馬
print(horse_df['goal_time'].isnull().sum())
print(horse_df['last_time'].isnull().sum())

19
19

In [53]:
horse_df['goal_time'] = pd.to_datetime(horse_df['goal_time'], format='%M:%S.%f') - pd.to_datetime('00:00.0', format='%M:%S.%f')
horse_df['goal_time'] = horse_df['goal_time'].dt.total_seconds()

In [54]:
# 欠損値を最大値で埋める
horse_df.fillna(value={'goal_time': horse_df['goal_time'].max()}, inplace=True)
horse_df.fillna(value={'last_time': horse_df['last_time'].max()}, inplace=True)

In [55]:
# レース距離情報をmerge
race_tmp_df = race_df[["race_id", "distance"]]
horse_df = pd.merge(horse_df, race_tmp_df, on='race_id')
horse_df["distance"] = horse_df["distance"].astype(int)
horse_df["avg_velocity"] = horse_df["distance"]/horse_df["goal_time"]

In [56]:
horse_weight_dif = horse_df["horse_weight"].str.extract('\(([-|+]?\d*)\)', expand=True)
horse_weight_dif.columns ={"horse_weight_dif"}

horse_df = pd.concat([horse_df, horse_weight_dif], axis=1)

horse_df['horse_weight'] = horse_df['horse_weight'].replace('\(([-|+]?\d*)\)', '', regex=True)

In [57]:
horse_df['horse_weight'] = horse_df['horse_weight'].replace('計不', np.nan)
horse_df['horse_weight'] = horse_df['horse_weight'].astype(float)
horse_df['horse_weight_dif'] = horse_df['horse_weight_dif'].astype(float)

In [58]:
horse_df['burden_weight_rate'] = horse_df['burden_weight']/horse_df['horse_weight']

In [59]:
horse_df['odds']= horse_df['odds'].astype(float)

In [24]:
print(horse_df.dtypes)
horse_df.head(3)

race_id                 int64
rank                   object
frame_number            int64
horse_number            int64
horse_id                int64
age                     int32
burden_weight         float64
rider_id                int64
goal_time             float64
half_way_rank          object
last_time             float64
odds                  float64
popular               float64
horse_weight          float64
tamer_id                int64
owner_id                int64
date                   object
is_down                 int64
is_senba                int64
is_mesu                 int64
is_osu                  int64
distance                int32
avg_velocity          float64
horse_weight_dif      float64
burden_weight_rate    float64
dtype: object

,race_id,rank,frame_number,horse_number,horse_id,age,burden_weight,rider_id,goal_time,half_way_rank,last_time,odds,popular,horse_weight,tamer_id,owner_id,date,is_down,is_senba,is_mesu,is_osu,distance,avg_velocity,horse_weight_dif,burden_weight_rate
0,201906030401,1,8,15,2016100466,3,53.0,1166,115.8,1-1-1-1,40.5,16.8,7.0,460.0,1056,334009,2019-03-31 09:50:00,0,0,1,0,1800,15.544041,4.0,0.115217
1,201906030401,2,2,4,2016100767,3,54.0,1096,117.0,11-11-8-8,40.6,3.3,1.0,480.0,1081,712033,2019-03-31 09:50:00,0,0,1,0,1800,15.384615,0.0,0.112500
2,201906030401,3,2,3,2016106150,3,54.0,1150,117.2,6-6-5-5,41.3,16.1,6.0,484.0,1076,905033,2019-03-31 09:50:00,0,0,1,0,1800,15.358362,-6.0,0.111570

In [60]:
horse_df.to_csv("csv/cleaned_horse_data.csv", index=False )

データセット作成

In [61]:
horse_df.drop(['half_way_rank'], axis=1, inplace=True)

In [62]:
horse_df['date'] = pd.to_datetime(horse_df['date'])
print(horse_df.dtypes)
horse_df.head(3)

race_id                        int64
rank                          object
frame_number                   int64
horse_number                   int64
horse_id                       int64
age                            int32
burden_weight                float64
rider_id                       int64
goal_time                    float64
last_time                    float64
odds                         float64
popular                      float64
horse_weight                 float64
tamer_id                       int64
owner_id                       int64
date                  datetime64[ns]
is_down                       object
is_down                       object
is_down                       object
is_senba                     float64
is_mesu                      float64
is_osu                       float64
distance                       int32
avg_velocity                 float64
horse_weight_dif             float64
burden_weight_rate           float64
dtype: object

,race_id,rank,frame_number,horse_number,horse_id,age,burden_weight,rider_id,goal_time,last_time,odds,popular,horse_weight,tamer_id,owner_id,date,is_down,is_down,is_down,is_senba,is_mesu,is_osu,distance,avg_velocity,horse_weight_dif,burden_weight_rate
0,201905010201,1,8,16,2016105994,3,54.0,5339,88.0,39.4,3.3,2.0,504.0,1102,994002,2019-01-27 10:10:00,0,NaN,NaN,NaN,1.0,NaN,1400,15.909091,12.0,0.107143
1,201905010201,2,6,12,2016105685,3,54.0,1109,88.1,39.2,51.2,10.0,494.0,1023,547800,2019-01-27 10:10:00,0,NaN,NaN,NaN,1.0,NaN,1400,15.891033,-4.0,0.109312
2,201905010201,3,5,9,2016106310,3,54.0,689,88.1,38.6,10.0,5.0,454.0,1048,89803,2019-01-27 10:10:00,0,NaN,NaN,NaN,1.0,NaN,1400,15.891033,0.0,0.118943

In [63]:
# group by したデータフレームに対して行う処理
def make_one_horse_train_data(one_horse_data):
    one_horse_data = one_horse_data.sort_values('date',ascending=False)
    one_horse_data['pre_date_diff'] = one_horse_data['date'].diff(-1).dt.days
    one_horse_data['is_rider_same'] = (one_horse_data['rider_id'].shift(-1) == one_horse_data['rider_id']) * 1.0
    one_horse_data['is_tamer_same'] = (one_horse_data['tamer_id'].shift(-1) == one_horse_data['tamer_id']) * 1.0
    one_horse_data['is_owner_same'] = (one_horse_data['owner_id'].shift(-1) == one_horse_data['owner_id']) * 1.0

    #不要なので削除
    one_horse_data.drop(['horse_id'], axis=1, inplace=True) #horse_id はもう使わないので削除
    one_horse_data.drop(['rider_id'], axis=1, inplace=True)
    one_horse_data.drop(['tamer_id'], axis=1, inplace=True)
    one_horse_data.drop(['owner_id'], axis=1, inplace=True)


    #  数レース分の情報を結合
    result_df = one_horse_data.copy()
    
    for i in range(1,6):
        # i だけ shiftしたものを得る
        # race_id, sexはいらない
        shift_df = one_horse_data.drop(['race_id','is_senba','is_mesu','is_osu'], axis=1).shift(-i)
        # 目的のレースとどれだけの時間離れているか？
        shift_df['interval_date'] = (one_horse_data['date'] - shift_df['date']).dt.days
        shift_df.drop(['date'], axis=1, inplace=True)
        shift_df.columns = shift_df.columns + "_" + str(i)
        result_df = pd.concat([result_df, shift_df], axis=1)
    return result_df


# horse_id はもう使わないので削除

In [64]:
horse_id_df = horse_df["horse_id"].unique()

In [65]:
horse_id_df[1:]

array([2016105685, 2016106310, 2016100216, ..., 2013101575, 2013103410,
       2015102929], dtype=int64)

In [66]:
# test
one_horse_data = horse_df[horse_df['horse_id'] == horse_id_df[0]].copy()
all_data = make_one_horse_train_data(one_horse_data).fillna(0)
for horse_id in horse_id_df[1:]:
        one_horse_data = horse_df[horse_df['horse_id'] ==horse_id].copy()
        one_horse_data_past = make_one_horse_train_data(one_horse_data).fillna(0)
        all_data = all_data.append(one_horse_data_past)

In [67]:
horse_df[horse_df['horse_id'] == horse_id_df[0]].copy()

,race_id,rank,frame_number,horse_number,horse_id,age,burden_weight,rider_id,goal_time,last_time,odds,popular,horse_weight,tamer_id,owner_id,date,is_down,is_down,is_down,is_senba,is_mesu,is_osu,distance,avg_velocity,horse_weight_dif,burden_weight_rate
0,201905010201,1,8,16,2016105994,3,54.0,5339,88.0,39.4,3.3,2.0,504.0,1102,994002,2019-01-27 10:10:00,0,NaN,NaN,NaN,1.0,NaN,1400,15.909091,12.0,0.107143

In [68]:
all_data.drop(['rank'], axis=1, inplace=True)
all_data.drop(['date'], axis=1, inplace=True)
all_data.drop(['goal_time'], axis=1, inplace=True)

In [69]:
all_data.to_csv("csv/past_horse_data.csv", index=False )

In [94]:
cleaned_race_df = pd.read_csv("./csv/cleaned_race_data.csv", sep=",")
cleaned_horse_df = pd.read_csv("./csv/past_horse_data.csv", sep=",")

In [95]:

race_column = ["date","frame_number_first","horse_number_first","frame_number_second","horse_number_second","frame_number_third","horse_number_third","tansyo","hukusyo_first","hukusyo_second","hukusyo_third","wakuren","umaren","wide_1_2","wide_1_3","wide_2_3","umatan","renhuku3","rentan3"]
cleaned_race_df.drop(race_column,axis='columns', inplace=True)

In [89]:
# group by したデータフレームに対して行う処理
def make_one_horse_train_data(one_horse_data):
    #  数レース分の情報を結合
    result_df = one_horse_data[0:1].copy()
    
    for i in range(1,19):
        # i だけ shiftしたものを得る
        # race_id, sexはいらない
        shift_df = one_horse_data[0:i+1].copy().shift(-i)
        shift_df = shift_df[0:1].drop(['race_id'], axis=1)
        # 目的のレースとどれだけの時間離れているか？
        shift_df.columns = shift_df.columns + "_" + str(i)
        result_df = pd.concat([result_df, shift_df], axis=1)
    return result_df

In [90]:
df = cleaned_race_df["race_id"]
one_race_horse_data = cleaned_horse_df[cleaned_horse_df['race_id'] == df[0]].copy()
all_race_data = make_one_horse_train_data(one_race_horse_data).fillna(0)
df = cleaned_race_df["race_id"].shift(-1)
for race_id in df:
        one_race_horse_data = cleaned_horse_df[cleaned_horse_df['race_id'] == race_id].copy()
        one_race_horse_data = make_one_horse_train_data(one_race_horse_data).fillna(0)
        all_race_data = all_race_data.append(one_race_horse_data)

In [91]:
all_race_data

,race_id,frame_number,horse_number,age,burden_weight,goal_time,last_time,odds,popular,horse_weight,is_down,is_down.1,is_down.2,is_senba,is_mesu,is_osu,distance,avg_velocity,horse_weight_dif,burden_weight_rate,pre_date_diff,is_rider_same,is_tamer_same,is_owner_same,rank_1,...,is_tamer_same_4_18,is_owner_same_4_18,interval_date_4_18,rank_5_18,frame_number_5_18,horse_number_5_18,age_5_18,burden_weight_5_18,goal_time_5_18,last_time_5_18,odds_5_18,popular_5_18,horse_weight_5_18,is_down_5_18,is_down_5.1_18,is_down_5.2_18,distance_5_18,avg_velocity_5_18,horse_weight_dif_5_18,burden_weight_rate_5_18,pre_date_diff_5_18,is_rider_same_5_18,is_tamer_same_5_18,is_owner_same_5_18,interval_date_5_18
0,201905010201,8,16,3,54.0,88.0,39.4,3.3,2.0,504.0,0,0,0,0.0,1.0,0.0,1400,15.909091,12.0,0.107143,0.0,0.0,0.0,0.0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
21,201905010202,3,5,3,56.0,137.1,38.7,4.7,2.0,494.0,0,0,0,0.0,0.0,1.0,2100,15.317287,0.0,0.113360,20.0,0.0,1.0,1.0,6,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
45,201905010203,6,12,3,56.0,99.3,38.1,1.2,1.0,516.0,0,0,0,0.0,0.0,1.0,1600,16.112790,0.0,0.108527,0.0,0.0,0.0,0.0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
61,201905010204,3,6,4,54.0,98.7,37.4,6.7,4.0,454.0,0,0,0,0.0,1.0,0.0,1600,16.210740,12.0,0.118943,0.0,0.0,0.0,0.0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
83,201905010205,3,6,3,56.0,94.9,34.4,2.0,1.0,514.0,0,0,0,0.0,0.0,1.0,1600,16.859852,0.0,0.108949,14.0,0.0,1.0,1.0,4,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1221,201908010108,5,5,3,56.0,123.0,35.7,13.9,5.0,492.0,0,0,0,0.0,0.0,1.0,2000,16.260163,8.0,0.113821,0.0,0.0,0.0,0.0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
408,201908010109,7,14,4,56.0,113.0,38.8,80.9,14.0,516.0,0,0,0,0.0,0.0,1.0,1800,15.929204,2.0,0.108527,0.0,0.0,0.0,0.0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
188,201908010110,7,9,5,55.0,71.2,35.6,2.2,1.0,496.0,0,0,0,0.0,1.0,0.0,1200,16.853933,0.0,0.110887,0.0,0.0,0.0,0.0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
847,201908010111,3,6,4,54.0,95.2,34.7,20.8,7.0,478.0,0,0,0,0.0,0.0,1.0,1600,16.806723,12.0,0.112971,0.0,0.0,0.0,0.0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1090,201908010112,5,9,5,55.0,69.9,35.0,10.6,3.0,452.0,0,0,0,0.0,1.0,0.0,1200,17.167382,4.0,0.121681,0.0,0.0,0.0,0.0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [96]:
all_data = pd.merge(cleaned_race_df,all_race_data,on="race_id")

In [97]:

all_data.head(3)

,race_id,race_round,total_horse_number,obstacle,distance_x,ground_status_稍重,ground_status_良,weather_小雨,weather_小雪,weather_晴,weather_曇,weather_雨,weather_雪,where_racecourse_中京,where_racecourse_中山,where_racecourse_京都,where_racecourse_東京,ground_type_ダ,ground_type_芝,left_right_straight_右,left_right_straight_左,frame_number,horse_number,age,burden_weight,...,is_tamer_same_4_18,is_owner_same_4_18,interval_date_4_18,rank_5_18,frame_number_5_18,horse_number_5_18,age_5_18,burden_weight_5_18,goal_time_5_18,last_time_5_18,odds_5_18,popular_5_18,horse_weight_5_18,is_down_5_18,is_down_5.1_18,is_down_5.2_18,distance_5_18,avg_velocity_5_18,horse_weight_dif_5_18,burden_weight_rate_5_18,pre_date_diff_5_18,is_rider_same_5_18,is_tamer_same_5_18,is_owner_same_5_18,interval_date_5_18
0,201905010201,1,16,0.0,1400,0,1,0,0,1,0,0,0,0,0,0,1,1,0,0,1,8,16,3,54.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,201905010202,2,15,0.0,2100,0,1,0,0,1,0,0,0,0,0,0,1,1,0,0,1,3,5,3,56.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,201905010203,3,16,0.0,1600,0,1,0,0,1,0,0,0,0,0,0,1,1,0,0,1,6,12,3,56.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [98]:
all_data.to_csv("csv/train_data.csv", index=False )